:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --text-secondary-color: #272142;
  --background-color: #f9f7fe;
  --button-color: #6c63ff;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 128px;
  font-weight: 700;
  color: black;
  margin: 0 0 8 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  color: var(--text-secondary-color);
  line-height: 36px;
  font-weight: 400;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  color: var(--text-secondary-color);
  line-height: 54px;
  margin: 0;
}

.hero .btn-contact-me {
  background-color: var(--button-color);
  color: #ffffff;
  border-radius: 30px;
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.hero .btn-contact-me:hover {
  background-color: #ffffff;
  color: var(--button-color);
  border-color: var(--button-color);
  transition: all 200ms ease-in-out;
}

.intro p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.container h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.container p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.container .btn-branding-outline {
  background-color: #ffffff;
  color: var(--button-color);
  border-color: var(--button-color);
  border-radius: 30px;
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.project-description {
  padding: 60px 60px;
}

.about-section {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}

.about-section h1 {
  font-family: var(--heading-font-family);
  font-weight: 700px;
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-weight: 700px;
  font-size: 18px;
  line-height: 27px;
}

.about-section p {
  font-family: var(--default-font-family);
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
}

.about-section .btn-about-me {
  background-color: var(--button-color);
  color: #ffffff;
  border-radius: 30px;
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.about-section img {
  width: 400px;
  border-radius: 20px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 120px;
    text-align: center;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  .hero h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
  }
}
